<ActionBar>
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <Label text="Basic Drawer"></Label>
</ActionBar>

<GridLayout>
    <Drawer #drawer class="drawer">
        <GridLayout leftDrawer width="300" backgroundColor="white" rows="auto, *">
            <StackLayout row="0">
                <StackLayout backgroundColor="#eeeeee" padding="25">
                    <GridLayout columns="80, *" height="100">
                        <StackLayout col="0" class="avatar">
                            <Label text="JS"></Label>
                        </StackLayout>
                    </GridLayout>
                    <StackLayout>
                        <Label text="John Smith" fontWeight="bold"></Label>
                        <Label text="john.smith@example.com"></Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout>
                    <Button text="My Profile" class="button" (tap)="onCloseDrawer()"></Button>
                    <Button text="Settings" class="button" (tap)="onCloseDrawer()"></Button>
                    <Button text="Rate Us" class="button" (tap)="onCloseDrawer()"></Button>
                    <Button text="Support" class="button" (tap)="onCloseDrawer()"></Button>
                    <Button text="Contact" class="button" (tap)="onCloseDrawer()"></Button>
                </StackLayout>
            </StackLayout>
        </GridLayout>

        <StackLayout mainContent backgroundColor="white">
            <Button (tap)="onOpenDrawer()" text="Open Drawer" width="250" marginTop="25"></Button>
        </StackLayout>
    </Drawer>
</GridLayout>
