# NativeScript
hooks/
node_modules/
platforms/

# NativeScript Template
*.js.map
!ngcc.config.js
!webpack.config.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General
.DS_Store
.AppleDouble
.LSOverride
.idea
.cloud
.project
tmp/
package-lock.json

!.eslintrc.js
!.prettierrc.js

!e2e/*.js
!detox.config.js
devices.js

*.framework
**/*.js.map
src/**/*.js
plugin/**/*.js
plugin/**/*.d.ts
bin
build
Pods
!plugin/platforms
/plugin/platforms/android/*.aar
*.xcuserdatad
/plugin/README.md
plugin/**/*js.map
plugin/**/*js
plugin/*.ngsummary.json
plugin/*.metadata.json
plugin/angular
pnpm-lock.yaml